#Backend
db_name=TaskApi
db_username=example
db_password=example
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${db_name}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
JWT_SECRET_KEY=CLAVESUPERsecret4
JWT_EXPIRATION_TIME=90000 #in MS

