#Backend
SPRING_PROFILES_ACTIVE = dev # dev // prod < - Especifica el yml que se usa

db_name=TaskApi
db_username=root
db_password=DEVPWORD
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${db_name}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
JWT_SECRET_KEY=CLAVESUPERSCERTAy4D3M4A5SUFICIENTEMENTEL4RG4
JWT_EXPIRATION_TIME=90000 #in MS

